[Unit]
Description=openvpn-client config generator (using VPN Gate)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=<PATH_TO>/generate_openvpn_config --conf <PATH_TO>/files/config

[Install]
WantedBy=default.target
